spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/autoconfiguration?serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
  devtools:
    livereload:
      enabled: true
  thymeleaf:
      cache: false
  security:
    oauth2:
      client:
        registration:
          facebook:
            client-id: 609464986521534
            client-secret: a37286e3dae00dcdce628f40dfe363f5
server:
  port: 8080
