spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/autoconfiguration
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
  h2:
    console:
      enabled: false
      path: /console
  devtools:
    livereload:
      enabled: true
  thymeleaf:
      cache: false
      
server:
  port: 8081
