spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/autoconfiguration?serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  data:
    rest:
      base-path: /api
      default-page-size: 10
      max-page-size: 10
  jpa:
    hibernate:
      ddl-auto: create
  devtools:
    livereload:
      enabled: true
  thymeleaf:
      cache: false
      
server:
  port: 8081
